# Should be named ".env"


# BOT ENVS - Used for actively running the bot

# Bot Token, from https://discord.com/developers/applications/<Application ID>/bot
TOKEN=

# API/Backend Config
API_URL=http://localhost:8000


# DEPLOY ENVS - Used for deploying commands
# NOTE: also uses `TOKEN` above

# Application ID, from https://discord.com/developers/applications/<Application ID>/information
CLIENT_ID=
# Guild ID of the guild to register the commands with.
GUILD_ID=